/* GENERALES */
a{
    text-decoration: none;
}

h1{
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    text-align: center;
}

h2{
    background-color: #40618D;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    text-align: center;
}

p{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 17px;
    text-align: left;
}
